@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background: black;
}

/*button*/

.tb {
    display: table;
    width: 100%;
  }
  
  .td {
    display: table-cell;
    vertical-align: middle;
  }
  
  input,
  button {
    color: black;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
  }
 
  
  #cover {
    position:absolute;
    top: 85%;
    left: 0;
    right: 0;
    width: 550px;
    padding: 35px;
    margin: -83px auto 0 auto;
    background-color: #ff7575;
    border-radius: 20px;
    box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
    transform: scale(0.6);
  }
  
  form {
    height: 96px;
  }
  
  input[type="text"] {
    width: 100%;
    height: 96px;
    font-size: 60px;
    line-height: 1;
  }
  
  input[type="text"]::placeholder {
    color: black;
  }
  
  #s-cover {
    width: 1px;
    padding-left: 35px;
  }
  
  button {
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
  }
  
  #s-circle {
    position: relative;
    top: -8px;
    left: 0;
    width: 43px;
    height: 43px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
  }
  
  button span {
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
  }
  
  button span:before,
  button span:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
  }
  
  #s-cover:hover #s-circle {
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
  }
  
  #s-cover:hover span {
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
  }
  
  #s-cover:hover button span:before {
    bottom: 11px;
    transform: rotateZ(52deg);
  }
  
  #s-cover:hover button span:after {
    bottom: -11px;
    transform: rotateZ(-52deg);
  }
  #s-cover:hover button span:before,
  #s-cover:hover button span:after {
    right: -6px;
    width: 40px;
    background-color: #fff;
  }


/*button*/







a,a:hover{
    text-decoration: none;
}
nav{
    background: white;
    padding: 5px 20px;
    width: 100%;
    display: flex;
    align-items: center;
}
nav a{
   color:black;
}
nav a:hover{
    color:red;
}
.logo{
    flex:1;
}
.logo a{
    display: flex;
    align-items: center;
    font-size:20px;
}
.logo a:hover{
    color:red;
}
.logo img{
    width:90px;
    margin-right:10px;
}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.menu li{
    padding:15px 20px;
    font-size: 20px;
    
}
a img{
    width:40px;
    margin-right:10px;
}
a img:hover{
    color:red;
}

section{
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a1{
    background-image: url(./food-fruit-border-powerpoint-background_de39511e4c__960_540.avif);
    background-size: cover;
    background-repeat: no-repeat;
}
.a2{
    background-image: url(./ic4.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.a3{
    background-image: url(./cute-food-on-pink-background-u1iwwo16n3veefnf.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.a3 img{
    size: 20cm;
    border-radius: 10ch;
}
.a4{
    border-radius: 10ch;
    border: 1px solid pink;
    background-color: pink;
    height: 2cm;
    width:4cm;
    text-decoration: #000;
    margin-left: 6cm;
    font-weight: bold;
    margin-top: 1cm;
}
.a4:hover{
    background-color: black;
    color:black
}
.a9{
    border-radius: 10ch;
    border: 1px solid yellow;
    background-color: gold;
    height: 2cm;
    width:4cm;
    text-decoration: #000;
    margin-left: 5cm;
    font-weight: bold;
    margin-top: 1cm;
}
.a9:hover{
    background-color: black;
    color:yellow;
}
.a5{
    background-image: url(./cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA1L3JtNjU3LXJlbWl4LTA3MGItYi5qcGc.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.a6{
    background-image: url(./f.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.a6 img{
    size: 20cap;
    border-radius: 10ch;
}
.a7{
    background-image: url(./burger-french-fries-plate-with-copy-space_23-2148235009.avif);
    background-size: cover;
    background-repeat: no-repeat;
}
.a7 img{
    size: 20cm;
    border-radius: 10ch;
}
section .container{
    margin:150px;
    background-color: transparent;
    height: 17cm;
}
section h1{
    font-size:40px;
    color: black;
}
section h2{
    font-size: 40px;
    text-align: center;
}
.a2 .cards{
    background-color:rgba(234, 182, 169, 0.844);
}
.a2 .cards:hover{
    background-color:rgb(104, 71, 29) ;
}
.a5 .cards{
    background-color: #c4ecf4d5;
}
.a5 .cards:hover{
    background-color: #8cd4e2;
}
.a6 .cards{
    background-color: #f2b6b6e2;
}
.a6 .cards:hover{
    background-color: rgb(234, 122, 122);
}
.a7 .cards{
    background-color: rgba(0, 0, 0, 0.791);
}
.a7 .cards:hover{
    background-color:black;
}
.a3 .cards{
    background-color: rgba(255, 182, 193, 0.8);
}
section .cards{
    display: flex;
    background-color: lightpink;
    border-radius: 10ch;
}
section .cards:hover{
    background-color: #e88f8f;
}
section .cards .text-card{
    background-color:white;
    margin:50px;
    padding:20px;
    border-radius: 10ch;
}
section .cards .text-card:hover{
    background-color: antiquewhite;
    transform: scale(1.2);
}
section .cards .text-card h3{
    font-size: 30px;
    text-align:center;
    text-transform: uppercase;
    margin-bottom: 10px;
}
section .cards .text-card p{
    text-align: center;
}
section .cards .text-card img{
    width:8cm;
    height: 7cm;
    
}
@media(max-width:900px){
    section h1{
        font-size:40px;
    }
    section .cards{
        flex-direction: column;
    }
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition:all 2s ease;
}

.reveal.active{

    transform: translateY(0px);
    opacity: 1;
}

footer{
    position: absolute;
    width: 100vw;
    margin-top: 2cm;
    height: 5cm;
    padding-top: 10px;
    color: #fff;
    
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
    
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
    
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    
}
.socials li{
    margin: 0 10px;
    
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid black;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;

    
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
    
}

.footer-bottom{
    background-color: black;
    width: 100vw;
    padding: 20px;
padding-bottom: 40px;
    text-align: center;
    
}
.footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    background-color: #000;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
  background-color: #000;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    background-color: #000;
    font-weight: 200;
}
.footer-menu{
  float: right;
  

}
.footer-menu ul{
  display: flex;

}
.footer-menu ul li{
padding-right: 10px;

display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}

@media (max-width:500px) {
.footer-menu ul{
  display: flex;
  margin-top: 10px;
  
  margin-bottom: 20px;
}
}